html, 
body {
    height: 100%;
}

body{
	/*background:#333333;*/
	background-image: linear-gradient(to bottom, #fafafa, #e6e6e6);
	background-attachment: fixed;
	color:#212121;
	font-family: Roboto Condensed;
	letter-spacing: 2px;
}

.container{
		width: 100%;
		padding-left: 5px;
		padding-right: 5px;
	}

@media all and (min-width: 400px) {
	.container{
		width: 90%;
		max-width: 460px;
	}
}

@media all and (min-width: 768px) {
	.container{
		min-width: 720px;
		width: 80%;	
		max-width: 100%;
	}
}

.game-pic{
	overflow:hidden;
	border-radius:3px;
	margin: 1.60%;
	transform: scale(1s);
	transition: transform 0.5s;
	margin-bottom:4%;
	margin-top:2%;
}

.game-pic:hover{
	transform: scale(1.05);
}

.game-pic>img{
	width: 100%;
}

.game-card{
	color:#212121;
	font-weight: 500;
}



.game-card>p{
	margin: 1.60%;
	text-align: justify;
}


.game-title{
	height: 70px;
	line-height: 70px;
	text-align: center;
	font-weight: 800;
	text-transform: uppercase;
	/*color:#b3b3b3;*/
	letter-spacing: 2px;
}

.game-title h3{
	/*font-size: calc(7px + 1.25vw);*/
	font-size: calc(12px + 0.8vw);
	
}

.game-title>span{
	display: inline-block;
	vertical-align: bottom;
	line-height: normal;
	
	
}

.social{
	margin-top: 20px;
	text-align: center;
	font-size: 30px;
	font-weight: 800;
	text-transform: uppercase;
	/*color:#b3b3b3;*/
	letter-spacing: 2px;
	
}

.title{
	text-align: center;
	font-weight: 800;	
}

.contact-info{
	text-align: center;
	padding: 20px;
	color: #f2f2f2;
	background:#313131;
	max-width: 310px;
	margin: auto;
	margin-bottom: 50px;
	border-radius: 7px;
}

.title h2{
	font-size: calc(18px + 1vw);
}

.contact-info h2{
	margin-top: 7px;
}

h1, h2 ,h3{
	text-align: center;
	font-weight: 800;
	letter-spacing: 2px;
	
}

h1{
	font-size: 30px;
	text-transform: uppercase;
}

h2{
	font-size: 30px;
}

h3{
	font-size: 20px;
	font-style: italic;
	text-transform: uppercase;
}

hr{
   border: 0;
   height: 1px;
   background-image: linear-gradient(to right, #21212100, #212121ff, #21212100);
}

