body {
    background-color: #222222;
    font-family: "Consolas";
    animation: mycolor 500ms infinite;
}

@keyframes mycolor {
    from {color: #FFF;}
    to {color: #DDD;}
}

h1 {
    
    text-align: center;
}

p {
    
    font-size: 20px;
}

.center {
    text-align: center;
}
