html, 
body {
    height: 100%;
}

body{
	/*background:#333333;*/
	background-image: linear-gradient(to bottom, #fafafa, #e6e6e6);
	background-attachment: fixed;
	color:#212121;
	font-family: Roboto Condensed;
	letter-spacing: 0.2rem;
}

.container{
		width: 100%;
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

@media all and (min-width: 300pt) {
	.container{
		width: 90%;
		max-width: 46rem;
	}
}

@media all and (min-width: 576pt) {
	.container{
		min-width: 72rem;
		width: 80%;	
		max-width: 100%;
	}
}

/*
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1300px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (                min-resolution: 192dpi) and (min-width: 1300px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1300px) { 
  font-size: 200%;
}
*/

@media all and (min-width: 1050pt) {
	html,body{
		font-size: 1.2em;
	}
}

.flex {
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;  
    flex-wrap: wrap;
}

.game-card{
	color:#212121;
	font-weight: 500;
	height: auto;
}

.game-card>p{
	margin: 1.60%;
	margin-bottom: 5em;
	text-align: justify;
}

.game-title{
	height: 7rem;
	line-height: 7rem;
	text-align: center;
	font-weight: 800;
	text-transform: uppercase;
}

.game-title h3{
	font-size: calc(1.2rem + 0.8vw);
	
}

.game-title>span{
	display: inline-block;
	vertical-align: bottom;
	line-height: normal;
}

.game-pic{
	overflow:hidden;
	border-radius:0.3rem;
	margin: 1.60%;
	transform: scale(1s);
	transition: transform 0.35s;
	margin-bottom:4%;
	margin-top:2%;
}

.game-pic:hover{
	transform: scale(1.025);
}

.game-pic>img{
	width: 100%;
}

.game-button{
	/*display: inline-block;*/
	vertical-align: middle;
	width: 9em;
	line-height: 1.8em;
	font-size: 1em;
	border-radius: 1.1rem;
	margin:auto;
	margin-bottom: 0.6em;
	text-align:center;
	color: #f2f2f2;
	background:#313131;
	transition: all 0.5s;
}

.game-button:hover{
	background:#515151;
}

.shadow-hover{
	box-shadow: 0.2rem 0.2rem 0.25rem #00000030;
	transition: all 0.25s;
}

.shadow-hover:hover{
	box-shadow: 0.25rem 0.25rem 0.30rem #00000030;
}

.button-container{
	position: absolute;
    bottom: 1em;
	width: 9em;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto; 
}

.social{
	margin-top: 2rem;
	text-align: center;
	font-size: 3rem;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	
}

.title{
	text-align: center;
	font-weight: 800;	
}

.contact-info{
	max-width: 31rem;
	margin: auto;
	margin-bottom: 4rem;
}

.contact-info>div{
	text-align: center;
	padding: 2rem;
	color: #f2f2f2;
	background:#313131;

	border-radius: 0.7rem;
	margin: 1.6%;
}

.title h2{
	font-size: calc(1.8rem + 1vw);
}

.contact-info h2{
	margin-top: 0.7rem;
}

h1, h2 ,h3{
	text-align: center;
	font-weight: 800;
	letter-spacing: 0.2rem;
	
}

h1{
	font-size: 3rem;
	text-transform: uppercase;
}

h2{
	font-size: 3rem;
}

h3{
	font-size: 2rem;
	font-style: italic;
	text-transform: uppercase;
}

hr{
   border: 0;
   height: 0.1rem;
   min-height: 1px;
   /*background-color: #212121;*/
   background-image: -webkit-linear-gradient(to right, #21212100, #212121ff, #21212100);
   background-image: -moz-linear-gradient(to right, #21212100, #212121ff, #21212100);
   background-image: -o-linear-gradient(to right, #21212100, #212121ff, #21212100);
   background-image: linear-gradient(to right, #21212100, #212121ff, #21212100);
}

a:hover{
text-decoration: none;
}

